.layout .react-grid-item {
    border: 3px solid #2f613af6;
    border-radius: 7px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.layout .react-grid-item {
    background-color: white;
}

.layout .react-grid-item:hover {
    border-color: #173a1ef6;
}

