.contain{
    margin: 0;
}

.border{
    border: 2px solid black;
}

.div{
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.custom-btn{
    width: 200px;
    background-color: #94faaaf6;
    border:3px solid #559c64f6;
    color: black;
    font-weight: bold;
}

.profile_btn_group{
    align-items: center;
}

.custom-btn:hover{
    background-color: #94faaaf6;
    border:3px solid #559c64f6;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 5px #173a1ef6;
    outline: none;
}

.custom-btn:focus{
    border: 3px solid #2f613af6;
    background-color: #459155f6;

}

.profile-h{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-ul{
    display: block;
    width: 100%;
}

li {
    list-style-type: none; 
    margin-top: 20px; 
}

.profile-ul-li{
    font-size: 24px;

}

.li-div-header{
 width: 200px;
}

.li-div-content{

}

.changePassword-btn{
    margin-left: 30px;
    margin-top: 20px;
    width: 200px;
    background-color: #94faaaf6;
    border:3px solid #559c64f6;
    color: black;
    font-weight: bold;
}

.changePassword-btn:hover{
    background-color: #94faaaf6;
    border:3px solid #559c64f6;
    color: black;
    font-weight: bold;
    box-shadow: 0 0 5px #173a1ef6;
    outline: none;
}


  